.clear {
  clear: both;
}

img {
  border: 0;
}

body {
  line-height: 130%;
  font-size: 100%;
  color: #222;
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a:hover, #sidebar a:hover, #content a {
  color: #b40;
}
#site {
  width: 850px;
  margin: auto;
}

#subscribe {
  float: right;
  margin: 20px;
}

h1 {
  margin: 0;
  padding: 20px;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

#slogan {
  margin: 15px;
}

#sidebar {
  width: 160px;
  padding: 10px 20px 20px 20px;
  border-left: 5px solid #eee;
  float: right;
}
#sidebar a {
  display: block;
  color: inherit;
}
#sidebar dl, #sidebar ul {
  margin: 0 0 30px 0;
  padding: 0;
}
#sidebar dl#contact dt {
  display: none;
}
#sidebar dl#contact dd {
  margin: 0;
}
#sidebar ul {
  list-style-type: none;
}
#sidebar a {
  text-decoration: none;
}
#sidebar  {
}

#content {
  width: 600px;
  padding: 0 20px 20px 20px;
}
#content ul {
  list-style-type: none;
  padding: 0;
}
#content li {
  margin-bottom: 10px;
}

h3 {
  margin: 0 0 10px 0;
  padding: 0;
}

.highlight pre {
  background: #eee;
  border: 1px solid #ccc;
  padding: 15px;
}

#post {
  margin-bottom: 30px;
}

#disqus_thread {
  margin-bottom: 130px;
}

#related {
  margin-bottom: 30px;
}

#posts p {
  margin: 5px 0 25px 0;
}