<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }} //
       {% endif %}
       Elijah Miller
     </title>
     <meta name="author" content="Elijah Miller" />
     <link href="http://feeds2.feedburner.com/jqr" rel="alternate" title="Elijah Miller" type="application/atom+xml" />

     <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />

     {% for css in page.css %}
       <link rel="stylesheet" href="{{ css }}" type="text/css" />
     {% endfor %}

  </head>
  <body>
    <a href="http://github.com/jqr"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub" /></a>

    <div id="site">
      <a id="subscribe" href="http://feeds2.feedburner.com/jqr"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>
      
      <h1><a href="/">Elijah Miller</a></h1>
      
      <div class="clear"></div>
      
      <div id="sidebar">
        <h3>Me</h3>
        <dl id="contact">
          <dt>Name</dt>
          <dd>Elijah Miller / jqr</dd>

          <dt>Email</dt>
          <dd><a href="mailto:elijah.miller@gmail.com">elijah.miller@gmail.com</a></dd>

          <dt>Company</dt>
          <dd><a href="http://fastestforward.com/">Fastest Forward</a></dd>
        </dl>
        <h3>And then some</h3>
        <ul id="profiles">
          <li><a href="http://twitter.com/jqr">Twitter</a></li>

          <li><a href="http://github.com/jqr">GitHub</a></li>

          <li><a href="http://workingwithrails.com/person/6150-elijah-miller">WorkingWithRails</a></li>
          
          <li><a href="http://www.linkedin.com/in/elijahmiller">LinkedIn</a></li>
        </ul>

        <a href="http://www.workingwithrails.com/recommendation/new/person/6150-elijah-miller"><img src="http://workingwithrails.com/images/tools/compact-small.jpg" alt="Recommend me at Working With Rails"></a>
      </div>
      
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6/prototype.js"></script>
      
      <div id="content">
        {{ content }}
      </div>
      
      <div class="clear"></div>
      
    </div>

    {% for js in page.javascript %}
      <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}

    <script type="text/javascript">
    //<![CDATA[
    (function() {
    		var links = document.getElementsByTagName('a');
    		var query = '?';
    		for(var i = 0; i < links.length; i++) {
    			if(links[i].href.indexOf('#disqus_thread') >= 0) {
    				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    			}
    		}
        document.write('<script type="text/javascript" src="http://disqus.com/forums/jqr/get_num_replies.js' + query + '"></' + 'script>');
    	})();
    //]]>
    </script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-254246-10");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>
